* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
    background-color: #d1d1d1;
    background-image: url(../img/pexels-pixabay-159358.webp);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.logo {
    width: 150px;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

a:hover {
    transition: .3s;
    color: #ffa70f;
}

a:not(:hover) {
    transition: .3s;
    color: #fff;
}

header {
    position: relative, fixed;
    padding: 0 2rem;
    padding-bottom: 60px;

}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 20;
}

.navbar .links {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-weight: bold;
    margin-top: 20px;
}

.button {
    position: relative;
    display: flex;
    border-radius: 10px;
    width: 150px;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #5d5d7e;
    color: #eee;
}

.button:hover {
    transition: .3s;
    color: #5d5d7e;
    background-color: #eee;
}

.button:not(:hover) {
    transition: .3s;
    background-color: #5d5d7e;
    color: #eee;
}

.navbar .toggle-btn {
    color: #101010;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 90px;
    height: 0;
    width: 300px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 15;
}

.dropdown_menu.open {
    height: 290px;
    margin-top: 70px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

.container {
    position: relative;
    padding: 20px;
    margin-top: 50px;
    width: auto;
}

.about-content {
    display: flex;
    margin-top: 20px;
    font-size: 30px;
    gap: 50px;
}

.about-content .mission {
    background: rgba(36, 108, 209, 0.3);
    backdrop-filter: blur(20px);
    margin: 20px;
    font-size: .7em;
    padding: 25px;
    text-align: justify;
    border-radius: 30px;
    box-shadow: rgb(86, 86, 86) 10px 10px 60px 10px;
    animation: start-text 2s ease-out forwards;
}

.about-content .vission {
    background: rgba(36, 108, 209, 0.3);
    backdrop-filter: blur(20px);
    margin: 20px;
    font-size: .7em;
    padding: 25px;
    text-align: justify;
    border-radius: 30px;
    box-shadow: rgb(86, 86, 86) 10px 10px 90px 10px;
    animation: start-text 3s ease-out forwards;
}

::-webkit-scrollbar {
    width: 0;
}

.about {
    position: relative;
    margin-top: 110px;
    display: flex;
    font-size: 1.5em;
    text-align: justify;
    background: rgba(36, 108, 209, 0.5);
    backdrop-filter: blur(30px);
    box-shadow: rgb(86, 86, 86) 10px 10px 90px 10px;
    padding: 25px;
    border-radius: 20px;
    animation: start-text 5s ease-in-out forwards;
}

.about-content h2 {
    font-size: 50px;
}

@keyframes start-text {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 640px) {
    .about-content{
        display: block;
        
    }
    
}