* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
    background-color: #d1d1d1;
    background-position: center;
    color: #fff;
}

.logo {
    width: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

a:hover {
    transition: .3s;
    color: #ffa70f;
}

a:not(:hover) {
    transition: .3s;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: #d1d1d1;; 
    z-index: 1000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    width: 100%;
    height: 5em;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar .links {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-weight: lighter;
    margin-top: 15px;
}

.navbar .toggle-btn {
    color: #101010;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.btn-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.btn-list li{
    display: inline;
}

.btn-list button{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: none;
}

.languages .btn-list .active {
    font-weight: bold; 
    background-color: #000;
    color: #eee;
    transition: .5s;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 50px;
    height: 0;
    width: 300px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 20;
}

.dropdown_menu.open {
    height: 250px;
    margin-top: 50px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

@keyframes start-text {
    from {
        opacity: 0;
        
    }

    to {
        opacity: 1;
    }
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    top: 20px;
    width: auto;
    height: 100%;
}

.content{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 100%;
    bottom: 10px;
}

.buttons{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 100px;
    animation: start-text 3s ease-in-out forwards;
}

.btn_menu{ 
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: none;
    box-shadow: rgb(244, 190, 43) 10px 10px 90px 10px;
    background-image: linear-gradient(to top, #f6da23 100%, transparent);
    backdrop-filter: blur(30px);
}

.btn_menu:hover{
    transform: scale(1.2);
    transition: .5s;
}

.btn_menu:not(:hover){
    transform: scale(1);
    transition: .5s;
}



.services{
    position: relative;
    justify-content: center;
    background-color: cadetblue;
    top: 20px;
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
}

.section{
    position: relative;
    width: 85%;
    height: auto;
    top: 5%;
    padding: 3em;
    background-color: #ffa70f;
    scroll-margin-top: 9em;
}



.container-serv{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 2em;
    padding: 1em;
}

.services .section h1{
    font-size: 2em;
    font-weight: lighter;
    position: relative;
}

.section .container-serv .content{
    position: relative;
    background-color: violet;
    padding: 10px;
    width: auto;
    height: auto;

}

.container-serv .content .item{
    font-size: 1.5em;
    font-weight: lighter;
}


@media only screen and(max-width: 479px){

}

@media only screen and(min-width: 480px) and (max-width: 767px){

}

@media only screen and(min-width: 768px) and (max-width: 833px){

}

@media screen and (max-width: 1023px){
    .buttons{
        display: block;
    }
    .btn_menu{
        margin-top: 50px;
    }
     .container-serv{
        display: block;
        height: auto;
        scroll-margin-top: 20em;
    }
    
}

@media only screen and(min-width: 1024px) and (max-width: 1023px){

}

@media only screen and(min-width: 1024px){

}